body{
    direction: rtl;
}

.form-container {
    width: 500px;
    height: calc(100vh - 130px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    margin: auto;
    margin-top: 50px; /* إضافة مسافة من الأعلى */
    margin-bottom: 100px;
    margin-right: 350px;

}

.form-container2 {
    width: 500px;
    height: calc(100vh - 130px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    margin: auto;
    margin-top: 200px; /* إضافة مسافة من الأعلى */
    margin-bottom: 200px;
    margin-right: 350px;

}



.form-input {
    width: 150%;
    border-radius: 5px; /* تقليل حجم الحواف */
    font-size: 18px; /* تقليل حجم الخط */
    padding: 8px; /* تقليل حجم الحاشية */
    text-align: right;
}

.form-btn {
    width: 150%;
    text-align: center;
    cursor: pointer;
    background-color: mediumaquamarine;
    border: none;
    font-size: 18px; /* تقليل حجم الخط */
    font-weight: 500;
    color: var(--white-color);
    border-radius: 5px; /* تقليل حجم الحواف */
    padding: 8px; /* تقليل حجم الحاشية */
    margin-top: 10px; /* تقليل التباعد من الأعلى */
}

.form-title {
    font-size: 25px; /* تقليل حجم الخط */
    color: var(--primary-color);
    margin-bottom: 10px; /* تقليل التباعد من الأسفل */
    margin-right:150px ;
    text-align: center; /* توسيط النص */
}


.form-label {
    margin: 3px; /* تقليل التباعد */
    font-size: 14px; /* تقليل حجم الخط */
    font-weight: 500;
    color: var(--secondary-color);
    text-align: right;
}

.form-footer{
    margin-right:150px ;
}
