.header-logo {
  width: 70px !important;
  height: 70px !important;
}

.Cnav-links {
  display: flex;
  align-items: center;

}

.Cnav-link {
  margin-right: 12px;
  /* Adjust margin-right for space between items */
  margin-left: 12px;
  cursor: pointer;
  font-size: 21px;
  text-decoration: none;
  font-weight: 500;
  color: var(--dark-color);
}


.Cnav-link:hover {
  color: var(--gray-color);
}